
@{
    ViewBag.Title = "Index";
}

<h2><strong>Reports</strong></h2>

<div class="reports">
    <a>
    @Html.ActionLink("Inventory Report", "Inventory", "Reports", null, null)
    </a>
</div>

<div class="reports">
    <a>
        @Html.ActionLink("Sales Report", "Sales", "Reports", null, null)
    </a>
</div>
